<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trabajo_final">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trabajo_Final">
        <activity android:name=".EditarNotasActivity"></activity>
        <activity android:name=".NuevoNotasActivity" />
        <activity android:name=".NotasActivity" />
        <activity android:name=".EditarCursoActivity" />
        <activity android:name=".EditarCarreraActivity" />
        <activity android:name=".NuevoCarreraActivity" />
        <activity android:name=".CarrerasActivity" />
        <activity android:name=".EditarProfesorActivity" />
        <activity android:name=".EditarAlumnoActivity" />
        <activity android:name=".NuevoProfesorActivity" />
        <activity android:name=".NuevoAlumnoActivity" />
        <activity android:name=".NuevoCursoActivity" />
        <activity android:name=".CursosActivity" />
        <activity android:name=".ProfesoresActivity" />
        <activity android:name=".AlumnosActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>